/* dark-theme.css */

/* Збільшуємо шрифти в 3 рази */
body {
    background-color: #121212;
    color: #ffffff;
    font-size: 18px; /* Збільшення шрифта на основній сторінці */
}

.container {
    background-color: #121212;
}

h1, h2, h3, h4 {
    color: #ffffff;
    font-size: 3em; /* Збільшення шрифтів заголовків */
}

table {
    border: 1px solid #ffffff;
    font-size: 18px; /* Збільшення шрифтів в таблицях */
}

table th, table td {
    color: #ffffff;
    font-size: 18px; /* Збільшення шрифтів в таблицях */
}

a {
    color: #bb86fc;
    font-size: 18px; /* Збільшення шрифтів для посилань */
}

a:hover {
    color: #3700b3;
}

pre {
    font-size: 18px; /* Збільшення шрифтів для кодових блоків */
}
