/* dark-theme.css */

body {
    background-color: #121212;
    color: #46c8e9;
    font-size: 18px; 
}

.container {
    background-color: #121212;
}

h1, h2, h3, h4 {
    color: #46c8e9;
    font-size: 20px; 
}

table {
    border: 1px solid #46c8e9;
    font-size: 20px; 
}

table th, table td {
    color: #46c8e9;
    font-size: 24px; 
}

a {
    color: #46c8e9;
    font-size: 18px;
}

a:hover {
    color: #3700b3;
}

pre {
    font-size: 18px; 
}
